.App {
  /*text-align: center;*/
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: clip;
  /* overflow-x: hidden; */
  /* width: 100vw; */
  /* height: 100vh; */
  /*display: flex;*/
}