@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;500;700&family=Source+Sans+Pro:wght@300;600&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

}
